*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typografy';


body{
    width: 100%;

    background-color: $cyan-dark;
}

.border{
    border: 1px solid red;
}

@import 'sass/spacyng';
@import 'sass/layout';