

$black-normal: #000000;
$black-green: #011310;
$black-gray: #2A2A2A;

$white-normal: #FFFFFF;
$white-light: #D4D4D4;
$white-dark: #afaeae;

$cyan-light: #00dbd0;
$cyan-green: #49b889;
$cyan-dark: #000200;

.color-gray{
    color : #777;
}

.corPrimaria{
    color: $white-normal;
}